/* 세팅 */

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 130%;
}
body {
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  font-family: "Pretendard", sans-serif;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
:root {
  --color-green: #0c3722;
  --color-black: #1d1d1d;
  --color-gold: #bc8746;
  --color-red: #8a0000;
  --color-beige: #8e7e6e;
  --color-beige02: #978c8a;
  --color-beige03: #c0bbba;
  --color-beige04: #e8e7e2;
  --bg-white: #f4f4f4;
}

/* 공통 */
.inner {
  /* margin: 0 auto; */
  width: 100%;
  /* max-width: calc(1600px + 5%); */
  padding: 0 5%;
}
.logo {
  width: 330px;
}
/* 공통 - 버튼*/
.anchor {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 80px;
  width: 290px;
  height: 74px;
  color: var(--color-gold);
  font-size: 2rem;
  font-weight: 600;
  border: 1px solid var(--color-gold);
  border-radius: 10px;
}
.anchor.mobile {
  display: none;
}
/* 공통-제목 */
.txt.right {
  text-align: right;
}
h2 {
  font-size: 7.5rem;
  font-weight: 700;
}
h2.black {
  color: #000;
}
h2.gold {
  color: var(--color-gold);
}
h2 + p {
  margin-top: 24px;
  font-size: 2.4rem;
  font-weight: 600;
}
h2 + p.beige {
  color: var(--color-beige);
}
h2 + p.beige02 {
  color: var(--color-beige02);
}
h2 + p.white {
  color: rgba(255, 255, 255, 0.8);
}
h2 + p.black {
  color: #000;
}

/* 공통-폼 */
form {
  scroll-margin-top: calc((100vh - 530px) / 2);
  display: flex;
  justify-content: space-between;
  gap: 0 90px;
  padding: 90px 64px 100px;
  color: #fff;
}
form h3 {
  margin-bottom: 10px;
  font-size: 3rem;
  font-weight: 600;
}
form h3 + h4 {
  opacity: 0.8;
  line-height: 150%;
  font-size: 2rem;
  font-weight: 600;
}
form h3 + h4 br:nth-of-type(2) {
  display: none;
}
form fieldset {
  width: calc(100% - 882px);
  border: 0;
}
form legend {
  display: none;
}
form input {
  display: block;
  width: 100%;
  height: 40px;
  color: #fff;
  font-family: "Pretendard", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--color-gold);
}
form input:not(:last-of-type) {
  margin-bottom: 60px;
}
form input::placeholder {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Pretendard", sans-serif;
  color: rgba(255, 255, 255, 0.8);
}
form button {
  display: flex;
  align-items: center;
  gap: 0 8px;
  margin-top: 314px;
  height: 26px;
  font-family: "Pretendard", sans-serif;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  background: transparent;
  border: none;
  cursor: pointer;
}
form button span {
  display: block;
}
form button img {
  display: block;
  width: 18px;
}
/* 메인 */
#main {
  padding: 150px 0;
  background: url(../img/bg-main.png) no-repeat right;
  background-size: cover;
}
#main .logo {
  margin-bottom: 46px;
  opacity: 0.8;
}
#main h1 {
  font-size: 9rem;
  font-weight: 700;
  color: var(--color-gold);
}
#main h1 + p {
  margin-top: 24px;
  font-size: 3rem;
  font-weight: 500;
  opacity: 0.8;
  color: #fff;
}
/* 사례wh-공통 */
#case-white {
  background: url(../img/bg-case01.png) no-repeat top left,
    url(../img/bg-case02.png) no-repeat bottom right, var(--bg-white);
}
#case-white .txt {
  width: 440px;
}

#case-white .swiper {
  width: calc(100% - 500px);
}
#case-white .txt {
  width: 440px;
}

#case-white .swiper {
  width: calc(100% - 500px);
}
#case-white li {
  width: 350px;
  /* height: 495px; */
  padding: 20px 12px 24px;
  background: var(--color-gold);
}
#case-white .swiper img {
  width: 100%;
}
#case-white li p {
  margin-top: 18px;
  padding: 0 8px;
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;
}
/* 사례wh-입금 */
#case-white .income {
  display: flex;
  gap: 0 60px;
  /* padding: 150px 0 155px 5%; */
  padding: 150px 0 155px;
}
#case-white .income .swiper {
  /* overflow: visible; */
  padding: 5% 0;
  width: 100%;
}
#case-white .income .swiper-slide {
  transition: scale 0.5s;
}
#case-white .income .swiper-slide-active {
  scale: 1.1;
}
/* 사례wh-폼 */
#case-white form {
  background: var(--color-green);
}
/* 사례wh-판결 */
#case-white .judgement {
  display: flex;
  gap: 0 60px;
  padding: 155px 5% 150px 0;
}
#case-white .judgement .swiper {
  direction: rtl;
}
#case-white .judgement .txt {
  text-align: right;
}
#case-white .judgement li {
  background: var(--color-red);
}
#case-white .judgement li p {
  text-align: left;
}

/* 사례bl-후기 */
#case-black {
  background: var(--color-black);
}
#case-black .review {
  overflow-x: hidden;
  padding: 150px 0 75px;
  background: url(../img/bg-case03.png) no-repeat bottom left;
}
#case-black .review .inner {
  position: relative;
  display: flex;
  justify-content: right;
}
#case-black .review .txt {
  z-index: 9;
  position: absolute;
  left: 5%;
  top: 0;
  /* background: var(--color-black); */
}

#case-black .review .anchor.fill {
  color: var(--color-black);
  background: var(--color-gold);
}
#case-black .review .anchor.fill img {
  filter: brightness(0) saturate(100%) contrast(100%) sepia(0) hue-rotate(0deg);
}
#case-black .review .swiper {
  margin: 0;
  width: 930px;
}

#case-black .review .swiper-slide {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

#case-black .review .swiper-slide-active {
  visibility: visible;
  opacity: 1;
}

#case-black .review li {
  display: flex;
  justify-content: right;
  /* background: var(--color-black); */
}

#case-black .swiper-button-prev {
  left: 130px !important;
}
#case-black .swiper-button-next {
  right: 240px !important;
}
#case-black .swiper-button-prev:after {
  color: var(--color-gold);
}
#case-black .swiper-button-next:after {
  color: var(--color-gold);
}

/* 사례-숫자 */
#case-black .number {
  padding: 75px 0 150px;
  background: url(../img/bg-case04.png) no-repeat top right;
}
#case-black .number p br:nth-of-type(1) {
  display: none;
}
#case-black .number .counter-section {
  margin-top: 30px;
  width: 970px;
  color: var(--color-gold);
  font-size: 23rem;
  font-weight: 700;
  text-align: right;
}
/* #case-black .number .txt {
  text-align: right;
} */
#case-black .number .anchor {
  margin-left: auto;
}
/* 피해액 */
#news {
  padding: 150px 0;
  text-align: center;
}
#news h2 br {
  display: none;
}
#news .anchor {
  opacity: 0.7;
  margin: 30px auto;
  border: none;
  color: #000;
}
#news .anchor img {
  filter: brightness(0) saturate(100%);
}

#news ul {
  display: flex;
  justify-content: center;
  gap: 24px;
}
#news li {
  display: flex;
  flex-direction: column;
  gap: 24px 0;
}
#news li:nth-of-type(1) {
  align-items: flex-end;
  margin-top: 15px;
}
#news li:nth-of-type(2) {
  margin-top: 30px;
}
#news dl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  color: #000;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  animation: floating 3s ease-in-out infinite;
  will-change: transform;
}
@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}
#news dl.news-item01 {
  width: 358px;
  height: 261px;
  padding-right: 40px;
  background: url(../img/bg-news-item01.png) no-repeat left,
    var(--color-beige03);
  background-size: contain;

  dt {
    margin-bottom: -10px;
    font-size: 2.2rem;
  }
  dd {
    font-size: 7rem;
  }
  /* animation-delay: 1100ms; */
}
#news dl.news-item02 {
  width: 260px;
  height: 182px;
  padding-right: 30px;
  background: url(../img/bg-news-item02.png) no-repeat left,
    var(--color-beige03);
  background-size: contain;
  dt {
    margin-bottom: -6px;
    font-size: 1.8rem;
  }
  dd {
    font-size: 5rem;
  }
  animation-delay: 500ms;
}
#news dl.news-item03 {
  width: 410px;
  height: 303px;
  padding-right: 50px;
  background: url(../img/bg-news-item03.png) no-repeat left,
    var(--color-beige03);
  background-size: contain;
  dt {
    margin-bottom: -16px;
    font-size: 2.4rem;
  }
  dd {
    font-size: 8rem;
  }
  animation-delay: 1000ms;
}
#news dl.news-item04 {
  width: 410px;
  height: 182px;
  padding-right: 30px;
  background: url(../img/bg-news-item04.png) no-repeat left,
    var(--color-beige03);
  background-size: contain;
  dt {
    margin-bottom: -6px;
    font-size: 1.8rem;
  }
  dd {
    font-size: 5rem;
  }
  animation-delay: 1500ms;
}
#news dl.news-item05 {
  width: 284px;
  height: 201px;
  padding-right: 20px;
  background: url(../img/bg-news-item05.png) no-repeat left,
    var(--color-beige03);
  background-size: contain;
  dt {
    margin-bottom: -8px;
    font-size: 2rem;
  }
  dd {
    font-size: 6rem;
  }
  animation-delay: 2000ms;
}
#news dl.news-item06 {
  width: 358px;
  height: 261px;
  padding-right: 40px;
  background: url(../img/bg-news-item06.png) no-repeat left,
    var(--color-beige03);
  background-size: contain;
  dt {
    margin-bottom: -10px;
    font-size: 2.2rem;
  }
  dd {
    font-size: 7rem;
  }
  animation-delay: 2500ms;
}
#news dt {
  font-weight: 600;
}
#news dd {
  font-weight: 600;
}
#news .ref {
  opacity: 0.8;
  margin-top: 60px;
  font-size: 1.2rem;
  color: #d4d4d4;
  word-break: keep-all;
}
/* 인사이트 */
#insight {
  overflow-x: hidden;
  padding: 150px 0;
  background: url(../img/bg-insight.png) no-repeat center, var(--color-green);
  background-size: cover;
}
#insight .inner {
  position: relative;
  display: flex;
  justify-content: right;
}
#insight .txt {
  z-index: 9;
  position: absolute;
  left: 5%;
  top: 0;
  width: max-content;
}
#insight .swipers {
  /* display: grid;
  grid-template-columns: 3fr 4fr 2fr; */
  /* width: calc(100vw * 0.625); */
  display: flex;
  justify-content: right;
  gap: 0 30px;
  /* width: 1200px; */
}
#insight .insight01 {
  margin-top: 31%;
  width: 373px;
  height: 270px;
}
#insight .swiper img {
  width: 100%;
}
#insight .insight02 {
  width: 517px;
  height: 680px;
}
#insight .insight02 li {
  position: relative;
}
#insight .insight02 dl {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 80px 48px;
  color: #fff;
}
#insight .insight02 dt {
  font-size: 7rem;
  font-weight: 200;
}
#insight .insight02 dd {
  margin: 14px 0 12px;
  font-size: 3rem;
  font-weight: 700;
  word-break: keep-all;
}
#insight .insight02 dd + dd {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
}
#insight .insight03 {
  margin-top: 10%;
  width: 247px;
  height: 205px;
}
#insight .insightMobile {
  display: none;
}
/* 오시는길 */
#map {
  padding: 150px 0;
  background: url(../img/bg-map.png) no-repeat center;
  background-size: cover;
}
#map .inner {
  display: flex;
  flex-direction: column;
  gap: 90px 0;
}
#map form {
  background: var(--color-black);
}
/* 푸터 */
#footer {
  padding: 90px 0;
  color: #fff;
  background: var(--color-black);
}

#footer .top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#footer dt {
  margin-bottom: 24px;
  font-size: 2rem;
  font-weight: 600;
}

#footer dd {
  font-size: 1.4rem;
}

#footer dd:not(:last-of-type) {
  margin-bottom: 12px;
}

#footer dd span {
  display: inline-block;
  width: 97px;
  color: #999;
  font-size: 1.4rem;
  font-weight: 500;
}

#footer dd a {
  /* text-decoration: none; */
  color: #fff;
}

#footer .bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  color: #aaa;
  font-size: 1.1rem;
  line-height: 150%;
}
/* 퀵메뉴 */
.float {
  z-index: 99;
  position: fixed;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
}

.float .quick {
  display: flex;
  width: 541px;
  height: 98px;
  background: var(--color-beige04);
  border-radius: 10px;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.6);
}
.float .quick li {
  display: flex;
  align-items: center;
  width: 50%;
}
.float .quick li:not(:last-of-type)::after {
  content: "";
  display: block;
  width: 1px;
  height: 30%;
  background: rgba(0, 0, 0, 0.6);
}
.float .quick a {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 32px;
  font-weight: 600;
  color: #000;
  /* background: rebeccapurple; */
}

.float .quick .tel span {
  margin-right: 8px;
  padding-top: 6px;
  font-size: 1.6rem;
}
.float .quick .tel p {
  font-size: 2.8rem;
}
.float .quick .kakao img {
  margin-right: 10px;
}
.float .quick .kakao p {
  padding-top: 4px;
  font-size: 1.8rem;
}
/* 푸터밑에 여유 공간 */
#end {
  width: 100%;
  height: 100px;
  background: var(--color-black);
}
