:root {
  --color-green: #0c3722;
  --color-black: #1d1d1d;
  --color-gold: #bc8746;
  --color-red: #8a0000;
  --color-beige: #8e7e6e;
  --color-beige02: #978c8a;
  --color-beige03: #c0bbba;
  --bg-white: #f4f4f4;
}
@media (max-width: 1440px) {
  /* 공통 */
  .logo {
    width: 310px;
  }
  h2 {
    font-size: 6rem;
  }
  h2 + p {
    margin-top: 16px;
    font-size: 2.2rem;
  }
  .anchor {
    margin-top: 60px;
    width: 230px;
    height: 68px;
    font-size: 1.8rem;
  }
  /* 메인 */
  #main {
    padding: 130px 0;
  }
  #main .logo {
    margin-bottom: 34px;
  }
  #main h1 {
    font-size: 7.5rem;
  }
  #main h1 + p {
    margin-top: 16px;
    font-size: 2.4rem;
  }
  /* 사례wh-공통*/
  #case-white {
    background: url(../img/bg-case01-1200.png) no-repeat top left,
      url(../img/bg-case02-1200.png) no-repeat bottom right, var(--bg-white);
  }
  #case-white .txt {
    width: 340px;
  }
  #case-white .swiper {
    width: calc(100% - 390px);
  }
  #case-white li {
    width: 330px;
  }
  #case-white li p {
    font-size: 2.2rem;
  }
  /* 사례wh-입금 */
  #case-white .income {
    gap: 0 50px;
    padding: 130px 0 133px 5%;
  }
  /* 공통-폼 */
  form {
    gap: 0 40px;
    padding: 70px 60px 80px;
  }
  form h3 {
    font-size: 2.6rem;
  }
  form h3 + h4 {
    font-size: 1.8rem;
  }
  form h3 + h4 br:nth-of-type(2) {
    display: block;
  }
  form fieldset {
    width: calc(100% - 502px);
  }
  form input {
    font-size: 1.8rem;
  }
  form input:not(:last-of-type) {
    margin-bottom: 50px;
  }
  form input::placeholder {
    font-size: 1.8rem;
  }
  form button {
    margin-top: 294px;
    font-size: 1.8rem;
  }
  /* 사례wh-판결 */
  #case-white .judgement {
    gap: 0 50px;
    padding: 133px 5% 130px 0;
  }
  /* 사례bl-후기 */
  #case-black .review {
    padding: 130px 0 65px;
    background: url(../img/bg-case03-1200.png) no-repeat bottom left;
  }
  #case-black .review .swiper {
    overflow: visible;
    width: 620px;
  }
  #case-black .review li img {
    width: 100%;
    object-fit: contain;
  }
  #case-black .swiper-button-prev {
    left: -55px !important;
  }
  #case-black .swiper-button-next {
    right: 220px !important;
  }
  /* 사례-숫자 */
  #case-black .number {
    padding: 65px 0 130px;
    background: url(../img/bg-case04-1200.png) no-repeat top right;
  }
  #case-black .number .counter-section {
    width: 850px;
    font-size: 20rem;
  }
  /* 피해액 */
  #news {
    padding: 130px 0;
  }
  #news .anchor {
    margin: 20px auto;
  }
  #news ul {
    gap: 18px;
  }
  #news dl.news-item01 {
    width: 286px;
    height: 208px;
    padding-right: 32px;
    dt {
      font-size: 2rem;
    }
    dd {
      font-size: 6rem;
    }
  }
  #news dl.news-item02 {
    width: 208px;
    height: 145px;
    padding-right: 24px;
    dt {
      font-size: 1.6rem;
    }
    dd {
      font-size: 4rem;
    }
  }
  #news dl.news-item03 {
    width: 328px;
    height: 242px;
    padding-right: 40px;
    dt {
      font-size: 2.2rem;
    }
    dd {
      font-size: 7rem;
    }
  }
  #news dl.news-item04 {
    width: 328px;
    height: 145px;
    padding-right: 24px;
    dt {
      font-size: 1.6rem;
    }
    dd {
      font-size: 4rem;
    }
  }
  #news dl.news-item05 {
    width: 227px;
    height: 160px;
    dt {
      font-size: 1.8rem;
    }
    dd {
      font-size: 5rem;
    }
  }
  #news dl.news-item06 {
    width: 286px;
    height: 208px;
    dt {
      font-size: 2rem;
    }
    dd {
      font-size: 6rem;
    }
  }
  /* 인사이트 */

  #insight .insight01 {
    margin-top: 33%;
    width: 306px;
    height: 221px;
  }
  #insight .insight02 {
    width: 434px;
    height: 570px;
  }
  #insight .insight02 dl {
    padding: 40px 38px;
  }
  #insight .insight02 dt {
    font-size: 6.5rem;
  }
  #insight .insight02 dd {
    font-size: 2.8rem;
  }
  #insight .insight02 dd + dd {
    font-size: 1.4rem;
  }
  #insight .insight03 {
    margin-top: 7%;
    width: 164px;
    height: 134px;
  }
  /* 오시는길 */
  #map {
    padding: 130px 0;
  }
  #map .inner {
    gap: 70px 0;
  }
  /* 푸터 */
  #footer .top {
    display: grid;
    grid-template-columns: 1fr 280px;
    gap: 40px 0;
  }
  #footer .bottom {
    flex-direction: column;
    /* gap: 4px; */
  }
}
@media (max-width: 1200px) {
  /* 공통 */
  .logo {
    width: 290px;
  }
  h2 {
    font-size: 4.5rem;
  }
  h2 + p {
    margin-top: 10px;
    font-size: 1.8rem;
  }
  .anchor {
    margin-top: 50px;
    width: 210px;
    height: 64px;
    font-size: 1.8rem;
  }
  /* 메인 */
  #main {
    padding: 110px 0;
  }
  #main .logo {
    margin-bottom: 30px;
  }
  #main h1 {
    font-size: 6rem;
  }
  #main h1 + p {
    margin-top: 12px;
    font-size: 2.2rem;
  }
  /* 사례wh-공통*/
  #case-white {
    background: url(../img/bg-case01-1024.png) no-repeat top left,
      url(../img/bg-case02-1024.png) no-repeat bottom right, var(--bg-white);
  }
  #case-white .txt {
    width: 260px;
  }
  #case-white .swiper {
    width: calc(100% - 300px);
  }
  #case-white li {
    width: 260px;
  }
  #case-white li p {
    font-size: 2rem;
  }
  /* 사례wh-입금 */
  #case-white .income {
    gap: 0 40px;
    padding: 110px 0 113px 5%;
  }
  /* 공통-폼 */
  form {
    gap: 0 40px;
    padding: 60px 50px 70px;
  }
  form h3 {
    font-size: 2.4rem;
  }
  form h3 + h4 {
    font-size: 1.6rem;
  }
  form fieldset {
    width: calc(100% - 462px);
  }
  form input {
    font-size: 1.6rem;
  }
  form input:not(:last-of-type) {
    margin-bottom: 40px;
  }
  form input::placeholder {
    font-size: 1.6rem;
  }
  form button {
    margin-top: 266px;
    font-size: 1.6rem;
  }
  /* 사례wh-판결 */
  #case-white .judgement {
    gap: 0 40px;
    padding: 113px 5% 110px 0;
  }
  /* 사례bl-후기 */
  #case-black .review {
    padding: 110px 0 55px;
    background: url(../img/bg-case03-1024.png) no-repeat bottom left;
  }
  #case-black .review .swiper {
    width: 500px;
  }
  #case-black .swiper-button-prev {
    left: -50px !important;
  }
  #case-black .swiper-button-next {
    right: 170px !important;
  }
  /* 사례-숫자 */
  #case-black .number {
    padding: 55px 0 110px;
    background: url(../img/bg-case04-1024.png) no-repeat top right;
  }
  #case-black .number .counter-section {
    width: 720px;
    font-size: 17rem;
  }
  /* 피해액 */
  #news {
    padding: 110px 0;
  }
  /* #news .anchor {
    margin: 20px auto;
  } */
  /* 인사이트 */
  #insight .swipers {
    gap: 0 24px;
  }
  #insight .insight01 {
    width: 286px;
    height: 207px;
  }
  #insight .insight02 {
    width: 414px;
    height: 544px;
  }
  #insight .insight02 dl {
    padding: 38px 37px;
  }
  #insight .insight02 dt {
    font-size: 6rem;
  }
  #insight .insight02 dd {
    margin: 14px 0 10px;
    font-size: 2.6rem;
  }
  #insight .insight02 dd + dd {
    font-size: 1.4rem;
  }
  #insight .insight03 {
    margin-top: 5%;
    width: 154px;
    height: 127px;
  }
  /* 오시는길 */
  #map {
    padding: 110px 0;
  }
  #map .inner {
    gap: 50px 0;
  }
  /* 푸터 */
  #footer .top {
    display: grid;
    grid-template-columns: 1fr 280px;
    gap: 40px 0;
  }
  #footer .bottom {
    flex-direction: column;
    /* gap: 4px; */
  }
}
@media (max-width: 1024px) {
  /* 공통 */
  .logo {
    width: 270px;
  }
  h2 {
    font-size: 4rem;
  }
  h2 + p {
    margin-top: 8px;
    font-size: 1.6rem;
  }
  .anchor {
    margin-top: 40px;
    width: 190px;
    height: 58px;
    font-size: 1.6rem;
  }
  .anchor img {
    width: 18px;
  }
  /* 메인 */
  #main {
    padding: 90px 0;
  }
  #main .logo {
    margin-bottom: 20px;
  }
  #main h1 {
    font-size: 5rem;
  }
  #main h1 + p {
    margin-top: 10px;
    font-size: 2rem;
  }
  /* 사례wh-공통*/
  #case-white {
    background: url(../img/bg-case01-768.png) no-repeat top left,
      url(../img/bg-case02-768.png) no-repeat bottom right, var(--bg-white);
  }
  #case-white .txt {
    width: 100%;
  }
  #case-white .swiper {
    width: 100%;
  }
  #case-white li {
    width: 260px;
  }
  #case-white li p {
    font-size: 2rem;
  }
  /* 사례wh-입금 */
  #case-white .income {
    flex-direction: column;
    gap: 30px 0;
    padding: 90px 0 93px 5%;
  }
  /* 공통-폼 */
  form {
    flex-direction: column;
    gap: 30px 0;
    padding: 60px 50px 70px;
  }
  /* form h3 {
    font-size: 2.4rem;
  } */
  /* form h3 + h4 {
    font-size: 1.6rem;
  } */
  form h3 + h4 br:nth-of-type(2) {
    display: none;
  }
  form fieldset {
    width: 100%;
  }
  /* form input {
    font-size: 1.6rem;
  } */
  form input:not(:last-of-type) {
    margin-bottom: 36px;
  }
  form input::placeholder {
    font-size: 1.6rem;
  }
  form button {
    justify-content: right;
    margin-top: 20px;
    /* font-size: 1.6rem; */
  }
  /* 사례wh-판결 */
  #case-white .judgement {
    flex-direction: column;
    gap: 30px 0;
    padding: 93px 5% 90px 0;
  }
  #case-white .judgement .txt {
    order: 1;
  }
  #case-white .judgement .swiper {
    order: 2;
  }
  /* 사례bl-후기 */
  #case-black .review {
    padding: 90px 0 45px;
    background: url(../img/bg-case03-768.png) no-repeat bottom left;
  }
  #case-black .anchor {
    margin-left: auto;
    margin-right: auto;
  }
  /* #case-black .review .inner {
    flex-direction: column;
    justify-content: center;
  } */
  /* #case-black .review .txt {
    position: static;
  } */
  #case-black .review .swiper {
    width: 360px;
  }

  #case-black .swiper-button-prev {
    left: -40px !important;
  }
  #case-black .swiper-button-next {
    right: 120px !important;
  }
  #case-black .swiper-button-prev:after,
  #case-black .swiper-button-next:after {
    font-size: 36px;
  }
  /* 사례-숫자 */
  #case-black .number {
    padding: 45px 0 90px;
    background: url(../img/bg-case04-768.png) no-repeat top right;
  }
  #case-black .number .counter-section {
    width: 590px;
    font-size: 14rem;
  }
  /* 피해액 */
  #news {
    padding: 90px 0;
  }
  #news ul {
    gap: 18px;
  }
  #news dl.news-item01 {
    width: 200px;
    height: 145px;
    padding-right: 24px;
    dt {
      font-size: 1.6rem;
    }
    dd {
      font-size: 4rem;
    }
  }
  #news dl.news-item02 {
    width: 145px;
    height: 101px;
    padding-right: 16px;
    dt {
      font-size: 1.4rem;
    }
    dd {
      font-size: 3.9rem;
    }
  }
  #news dl.news-item03 {
    width: 229px;
    height: 169px;
    padding-right: 30px;
    dt {
      margin-bottom: -12px;
      font-size: 2rem;
    }
    dd {
      font-size: 6rem;
    }
  }
  #news dl.news-item04 {
    width: 229px;
    height: 101px;
    padding-right: 24px;
    dt {
      font-size: 1.4rem;
    }
    dd {
      font-size: 3.9rem;
    }
  }
  #news dl.news-item05 {
    width: 158px;
    height: 112px;
    padding-right: 10px;
    dt {
      font-size: 1.4rem;
    }
    dd {
      font-size: 3.9rem;
    }
  }
  #news dl.news-item06 {
    width: 200px;
    height: 145px;
    padding-right: 22px;
    /* dt {
      font-size: 1.6rem;
    }
    dd {
      font-size: 4rem;
    } */
  }
  /* #news .anchor {
    margin: 20px auto;
  } */
  /* 인사이트 */
  #insight {
    padding: 90px 0;
  }
  /* #insight .inner {
    flex-direction: column;
  } */
  /* #insight .txt {
    position: static;
  } */
  #insight .swipers {
    gap: 0 24px;
    margin-top: 80px;
  }
  #insight .insight01 {
    width: 186px;
    height: 135px;
  }
  #insight .insight02 {
    width: 285px;
    height: 375px;
  }
  #insight .insight02 dl {
    padding: 30px 34px;
  }
  #insight .insight02 dt {
    font-size: 4rem;
  }
  #insight .insight02 dd {
    margin: 14px 0 10px;
    font-size: 2rem;
  }
  #insight .insight02 dd + dd {
    font-size: 1.2rem;
  }
  #insight .insight03 {
    margin-top: 5%;
    width: 154px;
    height: 127px;
  }
  #insight .insight03 {
    margin-top: 5%;
    width: 114px;
    height: 95px;
  }
  /* 오시는길 */
  #map {
    padding: 110px 0;
  }
  #map .inner {
    gap: 50px 0;
  }
}
@media (max-width: 768px) {
  /* 공통 */
  /* .logo {
    width: 270px;
  }
  h2 {
    font-size: 4rem;
  }
  h2 + p {
    margin-top: 8px;
    font-size: 1.6rem;
  }
  .anchor {
    margin-top: 40px;
    width: 190px;
    height: 58px;
    font-size: 1.6rem;
  }
  .anchor img {
    width: 18px;
  } */
  /* 메인 */
  #main {
    padding: 90px 0;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.3)
      ),
      url(../img/bg-main.png) no-repeat right;
    background-size: cover;
  }
  #main .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #main h1 {
    text-align: center;
  }
  #main h1 + p {
    text-align: center;
  }

  #main .anchor {
    margin-left: auto;
    margin-right: auto;
  }
  /* #main .logo {
    margin-bottom: 20px;
  }
 
  */
  /* 사례wh-공통*/
  #case-white {
    background: url(../img/bg-case01-512.png) no-repeat top left,
      url(../img/bg-case02-512.png) no-repeat bottom right;
  }
  /* #case-white .txt {
    width: 100%;
  }
  #case-white .swiper {
    width: 100%;
  }
  #case-white li {
    width: 260px;
  }
  #case-white li p {
    font-size: 2rem;
  } */
  /* 사례wh-입금 */
  /* #case-white .income {
    flex-direction: column;
    gap: 30px 0;
    padding: 90px 0 93px 5%;
  } */
  /* 공통-폼 */
  /* form {
    flex-direction: column;
    gap: 30px 0;
    padding: 60px 50px 70px;
  } */
  /* form h3 {
    font-size: 2.4rem;
  } */
  /* form h3 + h4 {
    font-size: 1.6rem;
  } */
  /* form h3 + h4 br:nth-of-type(2) {
    display: none;
  }
  form fieldset {
    width: 100%;
  }
  form input {
    font-size: 1.6rem;
  }
  form input:not(:last-of-type) {
    margin-bottom: 36px;
  }
  form input::placeholder {
    font-size: 1.6rem;
  }
  form button {
    justify-content: right;
    margin-top: 20px;
    font-size: 1.6rem;
  } */
  /* 사례wh-판결 */
  /* #case-white .judgement {
    flex-direction: column;
    gap: 30px 0;
    padding: 93px 5% 90px 0;
  }
  #case-white .judgement .txt {
    order: 1;
  }
  #case-white .judgement .swiper {
    order: 2;
  } */
  /* 사례bl-후기 */
  #case-black .review {
    padding: 90px 0 15px;
    background: url(../img/bg-case03-512.png) no-repeat bottom left;
  }
  #case-black .review .inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #case-black .review .txt {
    position: static;
  }
  #case-black .review h2 {
    text-align: center;
  }
  #case-black .review h2 + p {
    text-align: center;
  }
  #case-black .review .swiper {
    margin: 30px 0 30px 140px;
    width: 310px;
  }
  .anchor.web {
    display: none;
  }
  .anchor.mobile {
    margin-top: 0px;
    display: flex;
  }
  #case-black .swiper-button-prev {
    left: -50px !important;
  }
  #case-black .swiper-button-next {
    right: 90px !important;
  }
  #case-black .swiper-button-prev:after,
  #case-black .swiper-button-next:after {
    font-size: 36px;
  }
  /* 사례-숫자 */
  #case-black .number {
    padding: 45px 0 90px;
    background: url(../img/bg-case04-512.png) no-repeat top right;
  }
  #case-black .number h2 {
    text-align: center;
  }
  #case-black .number h2 + p {
    text-align: center;
  }
  #case-black .number .counter-section {
    width: 100%;
    text-align: center;
    font-size: 10rem;
  }
  /* 피해액 */
  #news {
    padding: 90px 0;
  }
  #news h2 br {
    display: block;
  }
  #news .anchor {
    margin: 16px auto;
  }

  /* 인사이트 */
  #insight {
    padding: 90px 0;
  }
  #insight .inner {
    flex-direction: column;
    align-items: center;
    gap: 30px 0;
  }
  #insight .txt {
    position: static;
  }
  #insight h2 {
    text-align: center;
  }
  #insight h2 + p {
    text-align: center;
  }

  #insight .swipers {
    gap: 0 24px;
    margin-top: 0px;
    margin-left: 0px;
  }
  #insight .insight01 {
    display: none;
  }
  #insight .insightWeb {
    display: none;
  }
  #insight .insight02 {
    overflow: visible;
    width: 285px;
    height: 375px;
  }

  #insight .insight03 {
    display: none;
  }
  #insight .insightMobile {
    display: block;
  }
  #insight .insightMobile ul {
    display: flex;
  }
  #insight .insight02 .swiper-slide dl {
    opacity: 0;
    transition: all 0.5s;
  }
  #insight .insight02 .swiper-slide-active dl {
    opacity: 1;
  }
  /* 오시는길 */
  #map {
    padding: 110px 0;
  }
  #map .inner {
    gap: 50px 0;
  }
  /* 푸터 */
  #footer {
    padding: 30px 0;
  }

  #footer .top {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px 0;
  }

  #footer .top > * {
    padding-bottom: 20px;
    border-bottom: 1px solid #333;
  }

  #footer dt {
    margin-bottom: 14px;
    font-size: 1.8rem;
  }

  #footer dd {
    font-size: 1.2rem;
  }

  #footer dd:not(:last-of-type) {
    margin-bottom: 4px;
  }

  #footer dd span {
    width: 86px;
    font-size: 1.2rem;
  }

  #footer .bottom {
    margin-top: 20px;
  }

  #footer span {
    display: block;
    /* margin-top: 4px; */
  }
  /* 퀵 */
  .float {
    left: 0;
    bottom: 0;
    transform: translateX(0%);
  }
  .float .quick {
    width: 100vw;
    border-radius: 0px;
  }
  .float .quick .tel span {
    padding-top: 3px;
    font-size: 1.4rem;
  }
  .float .quick .tel p {
    font-size: 2.2rem;
  }
  .float .quick .kakao img {
    width: 28px;
    object-fit: contain;
  }
  .float .quick .kakao p {
    padding-top: 7px;
    font-size: 1.6rem;
  }
}
@media (max-width: 695px) {
  #news ul {
    gap: 4px;
  }
  #news li {
    gap: 4px;
  }
  #news dl.news-item01 {
    width: 90px;
    height: 72px;
    padding-right: 4px;
    dt {
      margin-bottom: -5px;
      font-size: 1rem;
    }
    dd {
      font-size: 2.2rem;
    }
  }
  #news dl.news-item02 {
    width: 72px;
    height: 50px;
    padding-right: 8px;
    dt {
      margin-bottom: -4px;
      font-size: 0.8rem;
    }
    dd {
      font-size: 2.2rem;
    }
  }
  #news dl.news-item03 {
    width: 115px;
    height: 65px;
    padding-top: 3px;
    padding-right: 10px;
    dt {
      margin-bottom: -9px;
      font-size: 1rem;
    }
    dd {
      font-size: 3.4rem;
    }
  }
  #news dl.news-item04 {
    width: 115px;
    height: 50px;
    padding-right: 10px;
    dt {
      margin-bottom: -4px;
      font-size: 0.8rem;
    }
    dd {
      font-size: 2.2rem;
    }
  }
  #news dl.news-item05 {
    width: 90px;
    height: 56px;
    padding-right: 4px;
    dt {
      margin-bottom: -5px;
      font-size: 1rem;
    }
    dd {
      font-size: 2.2rem;
    }
  }
  #news dl.news-item06 {
    width: 97px;
    height: 72px;
    padding-right: 6px;
    dt {
      margin-bottom: -8px;
      font-size: 1rem;
    }
    dd {
      font-size: 3.4rem;
    }
  }
}
@media (max-width: 512px) {
  /* 공통 */
  .logo {
    width: 220px;
  }
  h2 {
    font-size: 3rem;
  }
  h2 + p {
    margin-top: 6px;
    font-size: 1.4rem;
  }
  .anchor {
    margin-top: 20px;
    width: 170px;
    height: 52px;
    font-size: 1.4rem;
  }
  .anchor img {
    width: 18px;
  }
  /* 메인 */
  /* #main {
    padding: 60px 0;
  } */
  #main h1 {
    font-size: 3.5rem;
  }
  #main h1 + p {
    font-size: 1.6rem;
  }
  /* 사례wh-공통*/
  #case-white {
    background: url(../img/bg-case01-320.png) no-repeat top left,
      url(../img/bg-case02-320.png) no-repeat bottom right;
  }
  #case-white li {
    width: 220px;
    padding: 16px 12px 20px;
  }
  #case-white li p {
    font-size: 1.6rem;
  }
  /* #case-white .txt {
    width: 100%;
  }
  #case-white .swiper {
    width: 100%;
  }
  
  */
  /* 사례wh-입금 */
  /* #case-white .income {
    flex-direction: column;
    gap: 30px 0;
    padding: 90px 0 93px 5%;
  } */
  /* 공통-폼 */
  form {
    flex-direction: column;
    gap: 24px 0;
    padding: 30px 24px;
  }
  form h3 {
    font-size: 2rem;
  }
  form h3 + h4 {
    font-size: 1.4rem;
  }
  form input {
    font-size: 1.4rem;
  }
  form input:not(:last-of-type) {
    margin-bottom: 28px;
  }
  form input::placeholder {
    font-size: 1.4rem;
  }
  form button {
    justify-content: right;
    margin-top: 4px;
    font-size: 1.4rem;
  }
  /* 사례wh-판결 */
  /* #case-white .judgement {
    flex-direction: column;
    gap: 30px 0;
    padding: 93px 5% 90px 0;
  }
  #case-white .judgement .txt {
    order: 1;
  }
  #case-white .judgement .swiper {
    order: 2;
  } */
  /* 사례bl-후기 */
  #case-black .review {
    padding: 90px 0 15px;
    background: url(../img/bg-case03-320.png) no-repeat bottom left;
  }
  #case-black .review .swiper {
    margin: 30px 0 30px 30px;
    width: 250px;
  }
  .anchor.web {
    display: none;
  }
  .anchor.mobile {
    margin-top: 0px;
    display: flex;
  }
  #case-black .swiper-button-prev {
    left: -33px !important;
  }
  #case-black .swiper-button-next {
    right: -4px !important;
  }
  #case-black .swiper-button-prev:after,
  #case-black .swiper-button-next:after {
    font-size: 16px;
  }
  /* 사례-숫자 */
  #case-black .number {
    padding: 45px 0 90px;
    background: url(../img/bg-case04-320.png) no-repeat top right;
  }
  #case-black .number h2 {
    text-align: center;
  }
  #case-black .number h2 + p {
    text-align: center;
  }
  #case-black .number p br:nth-of-type(1) {
    display: block;
  }
  #case-black .number .counter-section {
    width: 100%;
    text-align: center;
    font-size: 6.8rem;
  }
  /* 피해액 */
  #news {
    padding: 90px 0;
  }
  #news h2 br {
    display: block;
  }
  #news .anchor {
    margin: 16px auto;
  }

  /* 인사이트 */
  #insight {
    padding: 90px 0;
  }
  #insight .inner {
    flex-direction: column;
    align-items: center;
    gap: 30px 0;
  }
  #insight .txt {
    position: static;
  }
  #insight h2 {
    text-align: center;
  }
  #insight h2 + p {
    text-align: center;
  }

  #insight .swipers {
    gap: 0 24px;
    margin-top: 0px;
    /* margin-left: -80px; */
  }

  #insight .insight02 {
    width: 285px;
    height: 375px;
  }

  /* 오시는길 */
  #map {
    padding: 110px 0;
  }
  #map .inner {
    gap: 50px 0;
  }
  /* 푸터 */
  #footer {
    padding: 24px 0;
  }

  /* #footer .inner {
    padding: 0 16px;
  } */

  #footer .top {
    gap: 16px 0;
  }

  #footer .top > * {
    padding-bottom: 16px;
  }

  #footer dd {
    font-size: 1rem;
  }

  #footer dd span {
    font-size: 1rem;
  }

  #footer .bottom {
    font-size: 0.9rem;
  }
  /* 퀵 */
  .float .quick {
    height: 58px;
  }
  .float .quick a {
    padding: 15px 12px;
  }
  .float .quick .tel span {
    padding-top: 3px;
    font-size: 1rem;
  }
  .float .quick .tel p {
    font-size: 1.8rem;
  }
  .float .quick .kakao img {
    width: 26px;
    object-fit: contain;
  }
  .float .quick .kakao p {
    padding-top: 7px;
    font-size: 1.2rem;
  }
}
